/* Fuentes para el proyecto */
:root {
  --fontTitles: "Be Vietnam Pro", sans-serif;
  --fontText: "Be Vietnam Pro", sans-serif;
}

/* Colores */
:root {
  --firstColorPrimary: #242D52;
  --secondColorPrimary: #F3603C;
  --colorBlack: #1D1E25;
  --colorWhite: #FFFFFF;
  --colorSecondary: #FFF0EC;
  --colorOrange: #F3603C;
  --colorText: rgb(134, 150,157);
  --colorBefore: #FFF0EC;
}

/* Mixin para before */
/* Mixin para after */
@media screen and (min-width: 1600px) {
  .main-header, .main-hero, .main, .main-slider, .main-article, .main-footer, .footer-last-part {
    max-width: 80%;
  }
}
@media screen and (min-width: 1900px) {
  .main-header, .main-hero, .main, .main-slider, .main-article, .main-footer, .footer-last-part {
    max-width: 65%;
  }
}
@media screen and (min-width: 2300px) {
  .main-header, .main-hero, .main, .main-slider, .main-article, .main-footer, .footer-last-part {
    max-width: 50%;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 8rem;
}
@media screen and (min-width: 740px) {
  body {
    padding-top: 3.6rem;
  }
}

h1, h2, h3 {
  font-family: var(--fontTitles);
  font-weight: 400;
  font-size: 4rem;
  color: var(--firstColorPrimary);
}

h1 {
  font-weight: 500;
  font-size: 4rem;
}
@media screen and (min-width: 740px) {
  h1 {
    font-size: 5.6rem;
  }
}

p, a {
  font-family: var(--fontText);
}

p {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: 300;
  color: var(--colorText);
}
@media screen and (min-width: 740px) {
  p {
    font-size: 1.6rem;
  }
}

a {
  text-decoration: none;
}

.main-header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: var(--colorWhite);
  margin-bottom: 2.4rem;
  padding: 0rem 2.4rem;
  border-bottom: 0.02rem solid rgba(0, 0, 0, 0.1);
  z-index: 200;
}
@media screen and (min-width: 740px) {
  .main-header {
    position: relative;
    border-bottom: none;
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-header {
    padding: 0 10rem;
  }
}
.main-header__logo {
  display: block;
  width: 15rem;
  height: 2.6rem;
}

.main-header__content {
  position: absolute;
  top: 12rem;
  right: -100vw;
  width: calc(100vw - 3.2rem);
  display: flex;
  height: 30.5rem;
  z-index: 1000;
  transition: right 0.5s;
}
.main-header__content--new {
  right: 1.2rem;
  box-shadow: 0.6rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 700px) {
  .main-header__content {
    position: static;
    top: 0;
    right: 0;
    width: 55%;
    height: 8rem;
    justify-content: center;
  }
}

.home {
  width: 15rem;
  height: 2.6rem;
  margin-right: 1.6rem;
}
@media screen and (min-width: 740px) {
  .home {
    margin-right: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .home {
    margin-right: 3.2rem;
  }
}

.container-main-hamburguer {
  width: 2.4rem;
  height: 1.8rem;
  background: linear-gradient(#242D52 20%, transparent 20%, transparent 40%, #242D52 40%, #242D52 60%, transparent 60%, transparent 80%, #242D52 80%);
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.container-main-hamburguer:hover {
  cursor: pointer;
}
.container-main-hamburguer--new {
  transform: scale(1.8);
  background-image: url("../images/icon-close.svg");
  background-size: cover;
}
@media screen and (min-width: 700px) {
  .container-main-hamburguer {
    display: none;
  }
}

.main-header__nav {
  width: calc(100vw - 3.2rem);
  background-color: var(--colorWhite);
  height: 30.5rem;
  border-radius: 1.2rem;
}
@media screen and (min-width: 700px) {
  .main-header__nav {
    position: static;
    display: flex;
    align-items: center;
    width: auto;
    height: 8rem;
    background-color: transparent;
    padding: 0;
  }
}

/* Lista del Header */
.main-header__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1.2rem;
}
@media screen and (min-width: 700px) {
  .main-header__list {
    padding: 0;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .main-header__list:hover .main-header__list-link {
    filter: blur(0.5rem);
    opacity: 0.4;
    transition: all 0.4s;
  }
  .main-header__list .main-header__list-link:hover {
    filter: blur(0);
    opacity: 1;
    transition: all 0.4s;
  }
}

.main-list__link {
  height: 100%;
  margin: 1.2rem;
  padding: 0.4rem 2.4rem;
}
@media screen and (min-width: 700px) {
  .main-list__link {
    margin: 0 0.4rem;
    padding: 0.4rem;
  }
}
@media screen and (min-width: 840px) {
  .main-list__link {
    margin: 0 0.8rem;
  }
}
@media screen and (min-width: 940px) {
  .main-list__link {
    margin: 0 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .main-list__link {
    margin: 0 1.6rem;
  }
}
@media screen and (min-width: 1400px) {
  .main-list__link {
    margin: 0 2.4rem;
  }
}

/* Estilos para los enlaces */
.main-header__list-link {
  position: relative;
  font-size: 1.6rem;
  color: var(--firstColorPrimary);
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  .main-header__list-link {
    font-size: 1.3rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .main-header__list-link:hover {
    transition: all 0.4s;
    color: #86969d;
  }
  .main-header__list-link:hover::before {
    width: 100%;
    transition: all 0.4s;
  }
  .main-header__list-link::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 0.4rem solid var(--colorOrange);
    transition: all 0.3s;
  }
}

.main-button {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 1.6rem;
  color: var(--colorWhite);
  padding: 1.6rem 4rem;
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.main-button--header {
  display: none;
}
@media screen and (min-width: 700px) {
  .main-button--header {
    display: inline-block;
  }
}
@media screen and (min-width: 700px) {
  .main-button {
    color: var(--colorWhite);
    padding: 1.6rem;
  }
}
@media screen and (min-width: 740px) {
  .main-button {
    padding: 1.6rem 2rem;
  }
}
@media screen and (min-width: 820px) {
  .main-button {
    padding: 1.6rem 3.2rem;
  }
}
.main-button:hover::before {
  opacity: 0.7;
}
.main-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondColorPrimary);
  border-radius: 1.6rem;
  z-index: -10;
  transition: all 0.5s;
}
@media screen and (min-width: 1024px) {
  .main-button {
    padding: 1.6rem 4rem;
  }
}

.main-hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3.6rem 2.4rem 2.4rem 2.4rem;
  row-gap: 3.6rem;
  margin-bottom: 3.2rem;
  overflow: hidden;
}
.main-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.0001), rgba(0, 0, 0, 0.599));
  opacity: 0;
  transition: all 0.7s;
}
@media screen and (min-width: 740px) {
  .main-hero::before {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .main-hero {
    padding: 3.6rem 3.6rem 3.2rem 3.6rem;
    margin-bottom: 4.8rem;
  }
}
@media screen and (min-width: 740px) {
  .main-hero {
    grid-template-columns: minmax(56rem, 60rem);
    grid-template-rows: minmax(50rem, 52rem) minmax(38rem, 40rem);
  }
}
@media screen and (min-width: 1024px) {
  .main-hero {
    grid-template-columns: 1fr minmax(46rem, 48rem);
    grid-template-rows: repeat(1, minmax(54rem, 1fr));
    column-gap: 2.4rem;
    margin-bottom: 6.4rem;
    padding: 10rem 10rem 3.2rem 10rem;
  }
}
@media screen and (min-width: 1100px) {
  .main-hero {
    grid-template-columns: 1fr minmax(52rem, 54rem);
    column-gap: 3.6rem;
  }
}
@media screen and (min-width: 2700px) {
  .main-hero {
    grid-template-columns: repeat(2, 1fr);
  }
}
.main-hero--new::before {
  opacity: 1;
}

.main-hero__info {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .main-hero__info {
    order: -2;
    text-align: start;
    align-items: flex-start;
  }
}

.main-hero__image img {
  display: block;
  width: 100%;
}

.main-hero__title {
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 740px) {
  .main-hero__title {
    margin-bottom: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-hero__title {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .main-hero__title {
    width: 90%;
  }
}
@media screen and (min-width: 1400px) {
  .main-hero__title {
    width: 85%;
  }
}
@media screen and (min-width: 1500px) {
  .main-hero__title {
    width: 80%;
  }
}
@media screen and (min-width: 1600px) {
  .main-hero__title {
    width: 85%;
  }
}
@media screen and (min-width: 1900px) {
  .main-hero__title {
    width: 90%;
  }
}
@media screen and (min-width: 2300px) {
  .main-hero__title {
    width: 100%;
  }
}
@media screen and (min-width: 3000px) {
  .main-hero__title {
    width: 90%;
  }
}

.main-hero__text {
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 1024px) {
  .main-hero__text {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1240px) {
  .main-hero__text {
    width: 75%;
  }
}
@media screen and (min-width: 1360px) {
  .main-hero__text {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .main-hero__text {
    width: 55%;
  }
}
@media screen and (min-width: 1600px) {
  .main-hero__text {
    width: 80%;
  }
}
@media screen and (min-width: 1650px) {
  .main-hero__text {
    width: 65%;
  }
}
@media screen and (min-width: 1900px) {
  .main-hero__text {
    width: 90%;
  }
}
@media screen and (min-width: 2300px) {
  .main-hero__text {
    width: 100%;
  }
}
@media screen and (min-width: 2400px) {
  .main-hero__text {
    width: 72%;
  }
}
.main-hero__text--mobile {
  font-size: 1.6rem;
}

.main-button--hero {
  margin-bottom: 4rem;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 2.4rem;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 740px) {
  .main {
    padding: 0 3.6rem;
    margin-bottom: 6.4rem;
    row-gap: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-template-rows: repeat(1, minmax(64rem, 68rem));
    column-gap: 2.4rem;
    row-gap: 0;
    padding: 0 10rem;
    margin-bottom: 8.4rem;
  }
}
@media screen and (min-width: 1080px) {
  .main {
    grid-template-rows: repeat(1, minmax(54rem, 58rem));
    margin-bottom: 10rem;
  }
}
@media screen and (min-width: 1300px) {
  .main {
    grid-template-columns: minmax(44rem, 46rem) minmax(54rem, 56rem);
    column-gap: 4.8rem;
  }
}
@media screen and (min-width: 1400px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
.main__first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .main__first-part {
    align-items: flex-start;
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .main__second-part {
    padding-left: 2.4rem;
  }
}

.main-subtitle {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 740px) {
  .main-subtitle {
    font-size: 4rem;
    margin-bottom: 2.4rem;
  }
}
@media screen and (min-width: 2800px) {
  .main-subtitle {
    width: 85%;
  }
}

.main-paragraph {
  font-size: 1.4rem;
  margin-bottom: 4.8rem;
}
@media screen and (min-width: 740px) {
  .main-paragraph {
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 850px) {
  .main-paragraph {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .main-paragraph {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .main-paragraph {
    width: 95%;
  }
}
@media screen and (min-width: 2800px) {
  .main-paragraph {
    width: 85%;
  }
}
@media screen and (min-width: 3000px) {
  .main-paragraph {
    width: 70%;
  }
}

.text-bold {
  position: relative;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--firstColorPrimary);
  background-color: var(--colorBefore);
  margin-bottom: 2.4rem;
  padding: 1.2rem 0;
  padding-left: 6.4rem;
  border-radius: 3.2rem;
}
.text-bold::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5.4rem;
  height: 100%;
  content: "01";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--colorOrange);
  color: var(--colorWhite);
  margin-right: 1.2rem;
  border-top-left-radius: 3.2rem;
  border-bottom-left-radius: 3.2rem;
}
.text-bold-second::before {
  content: "02";
}
.text-bold-third::before {
  content: "03";
}
@media screen and (min-width: 850px) {
  .text-bold {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .text-bold {
    width: 100%;
    padding-left: 7.2rem;
    margin-bottom: 2.4rem;
    background-color: transparent;
  }
}

.main-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 2.4rem;
  border: 0.1rem solid green;
  margin-bottom: 4.8rem;
  overflow: hidden;
}
@media screen and (min-width: 740px) {
  .main-slider {
    padding: 0 3.6rem;
    margin-bottom: 9.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-slider {
    padding: 0 10rem;
    margin-bottom: 12rem;
  }
}

.main-slider__box {
  width: 100%;
  list-style: none;
  display: flex;
  margin-bottom: 6.4rem;
}
@media screen and (min-width: 1024px) {
  .main-slider__box {
    margin-bottom: 4.8rem;
  }
}

.main-subtitle--slider {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 7.2rem;
}
@media screen and (min-width: 740px) {
  .main-subtitle--slider {
    font-size: 4rem;
  }
}

.main-slider__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  padding: 0 1.6rem;
  border-radius: 1.6rem;
}
@media screen and (min-width: 700px) {
  .main-slider__card {
    min-width: 56rem;
    margin-right: 3.2rem;
  }
}

.main-slider__img {
  display: block;
  width: 7.2rem;
  height: 7.2rem;
  margin-bottom: 1.2rem;
  transform: translateY(-2.4rem);
}

.card-title {
  font-weight: 700;
  color: var(--firstColorPrimary);
  margin-bottom: 1.6rem;
}

.main-paragraph--slider {
  margin-bottom: 4.8rem;
}

.main-article {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 10rem;
  width: 100%;
  padding: 6.4rem 2.4rem;
  background-color: var(--colorOrange);
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 740px) {
  .main-article {
    padding: 4.8rem 3.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-article {
    text-align: start;
    grid-template-columns: 1fr minmax(min-content, 30rem);
    grid-template-rows: minmax(22rem, 24rem);
    column-gap: 2.4rem;
    padding: 4.8rem 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .main-article {
    grid-template-columns: minmax(80rem, 84rem) minmax(min-content, 30rem);
    grid-template-rows: minmax(20rem, 22rem);
  }
}
@media screen and (min-width: 1300px) {
  .main-article {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(18rem, 20rem);
  }
}

.main-subtitle--white {
  color: white;
  font-size: 4rem;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 1200px) {
  .main-subtitle--white {
    width: 80%;
  }
}

.main-button--white {
  color: var(--colorOrange);
  background-color: var(--colorWhite);
}
.main-button--white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorWhite);
  border-radius: 1.6rem;
  z-index: -10;
  transition: all 0.5s;
}
.main-button--white:hover {
  color: rgba(241, 84, 57, 0.3);
  transition: all 0.5s;
}
.main-button--white:hover::before {
  opacity: 0.3;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .container-button {
    justify-content: flex-end;
  }
}

.main-footer {
  width: 100%;
  display: grid;
  grid-template-rows: 7.2rem minmax(14rem, 15rem) minmax(10rem, 12rem);
  row-gap: 2.4rem;
  background-color: var(--colorBlack);
  padding: 3.6rem 2.4rem 2.4rem 2.4rem;
}
@media screen and (min-width: 700px) {
  .main-footer {
    padding-top: 6.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-footer {
    padding: 7.2rem 10rem 4rem 10rem;
    grid-template-columns: minmax(16rem, 18rem) 1fr 1fr;
    column-gap: 1.6rem;
    grid-template-rows: repeat(1, minmax(12rem, 14rem));
  }
}
@media screen and (min-width: 1140px) {
  .main-footer {
    justify-items: center;
    column-gap: 3.6rem;
  }
}
.main-footer__logo {
  margin-top: 1.6rem;
  margin-bottom: 3.6rem;
  width: 16rem;
  height: 2.6rem;
}

@media screen and (min-width: 560px) {
  form {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  form {
    justify-content: flex-start;
    order: 2;
  }
}
@media screen and (min-width: 1140px) {
  form {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 360px) {
  input[type=email] {
    width: 20rem;
    height: 5rem;
    font-size: 1.4rem;
    color: var(--firstColorPrimary);
    border: none;
    outline: none;
    padding-left: 2.4rem;
    border-radius: 3.6rem;
    margin-right: 0.8rem;
  }
}
@media screen and (min-width: 380px) {
  input[type=email] {
    width: 24rem;
  }
}
input[type=email]:focus::placeholder {
  opacity: 0;
  transition: all 0.4s;
}
@media screen and (min-width: 560px) {
  input[type=email] {
    width: 36rem;
  }
}
@media screen and (min-width: 630px) {
  input[type=email] {
    width: 40rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 740px) {
  input[type=email] {
    width: 50rem;
    margin-right: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  input[type=email] {
    width: 24rem;
    margin-right: 1.6rem;
  }
}
@media screen and (min-width: 1140px) {
  input[type=email] {
    width: 32rem;
  }
}

input[type=submit] {
  width: 8rem;
  height: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 3.6rem;
  border: none;
  outline: none;
  color: var(--colorWhite);
  background-color: var(--colorOrange);
}
@media screen and (min-width: 560px) {
  input[type=submit] {
    width: 12rem;
  }
}
@media screen and (min-width: 630px) {
  input[type=submit] {
    width: 15rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  input[type=submit] {
    width: 8rem;
  }
}

.main-footer__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  padding-left: 2.4rem;
}
@media screen and (min-width: 560px) {
  .main-footer__list {
    justify-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .main-footer__list {
    column-gap: 2.4rem;
    justify-items: flex-start;
  }
}
@media screen and (min-width: 1140px) {
  .main-footer__list {
    column-gap: 3.6rem;
  }
}

.main-footer__items {
  margin-bottom: 1.4rem;
}
.main-footer__items:hover .main-footer__enlace {
  color: var(--colorOrange);
  transition: all 0.4s;
}

.main-footer__enlace {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
  padding: 0.4rem;
  transition: all 0.4s;
}

.main-footer__container-logo-icons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, minmax(3.2rem, 3.6rem));
  justify-items: center;
  row-gap: 2.4rem;
}
@media screen and (min-width: 1024px) {
  .main-footer__container-logo-icons {
    order: -2;
    justify-items: flex-start;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container-footer-icons {
    order: 2;
  }
}

@media screen and (min-width: 1024px) {
  .container-footer-logo {
    order: -2;
  }
}

.social-network {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 2.4rem;
}
@media screen and (min-width: 1024px) {
  .social-network {
    width: 2rem;
    height: 2rem;
    margin-right: 1.2rem;
    order: 1;
  }
}

.main-footer__icons {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  transition: all 0.4s;
}
.main-footer__icons:hover {
  filter: invert(44%) sepia(22%) saturate(2896%) hue-rotate(334deg) brightness(100%) contrast(100%);
  transition: all 0.4s;
}
@media screen and (min-width: 1024px) {
  .main-footer__icons {
    width: 2rem;
    height: 2rem;
    order: -2;
  }
}

.main-footer__logo-return {
  display: block;
  width: 100%;
  height: 100%;
}

.main-paragraph--footer {
  width: 100%;
  height: auto;
  background-color: var(--colorBlack);
  text-align: center;
  padding: 0.8rem;
  padding-bottom: 3.2rem;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
