@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

// Contenedor Principal

.main-hero{
	display: grid;
	grid-template-columns: repeat(1,1fr);
	padding: 0 2.4rem;
	
	@include responsive(tablet){
		grid-template-columns: repeat(2,1fr);
		padding: 0 4.8rem;
	}

	@include responsive(desktop){
		grid-template-columns: 1fr minmax(46rem, 48rem);
		grid-template-rows: repeat(1, minmax(54rem, 1fr));
		column-gap: 2.4rem;
		padding: 0 10rem;	
	}

	@include responsive(1100px){
		grid-template-columns: 1fr minmax(52rem, 54rem);
		column-gap: 3.6rem;
	}

	@include responsive(2700px){
		grid-template-columns: repeat(2,1fr);
	}
}

// Contenedor de la imagen

.main-hero__image{
	// display: flex;
	// justify-content: center;
	// align-items: center;

	& img{
		display: block;
		width: 100%;
	}
}