@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

// Contenedor Principal

.main-hero{
	position: relative;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	padding: 3.6rem 2.4rem 2.4rem 2.4rem;
	row-gap: 3.6rem;
	margin-bottom: 3.2rem;

	&::before{
		@include before(0, 0, 100%, 100%){
			background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.0001),rgba(0, 0, 0, 0.599));
			opacity: 0;
			transition: all .7s;
		}

		@include responsive(tablet){
			display: none;
		}
	}

	&::after{
		@include after(0,0, 85%, 85%){
			top: -30rem;
			right: 0;
			left: auto;
			background-image: url('../../../images/bg-tablet-pattern.svg');
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -100;
		}
		
		@include responsive(desktop){
			top: -16rem;
			width: 50%;
			height: 100%;
			right: -4rem;
		}

		@include responsive(1200px){
			height: 110%;
		}

		@include responsive(1500px){
			height: 120%;
		}
	}
	
	@include responsive(700px){
		padding: 3.6rem 3.6rem 3.2rem 3.6rem;
		margin-bottom: 4.8rem;
	}

	@include responsive(tablet){
		grid-template-columns:minmax(56rem, 60rem);
		grid-template-rows: minmax(50rem, 52rem) minmax(38rem, 40rem);
	}

	@include responsive(desktop){
		grid-template-columns: 1fr minmax(46rem, 48rem);
		grid-template-rows: repeat(1, minmax(54rem, 1fr));
		column-gap: 2.4rem;
		margin-bottom: 6.4rem;
		padding: 10rem 10rem 3.2rem 10rem;	
	}

	@include responsive(1100px){
		grid-template-columns: 1fr minmax(52rem, 54rem);
		column-gap: 3.6rem;
	}

	@include responsive(2700px){
		grid-template-columns: repeat(2,1fr);
	}

	&--new{
		&::before{
			opacity: 1;
		}
	}
}

// Contenedor de la info

.main-hero__info{
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@include responsive(desktop){
		order: -2;
		text-align: start;
		align-items: flex-start;
	}
}

// Contenedor de la imagen

.main-hero__image{

	& img{
		display: block;
		width: 100%;
	}
}