@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-slider__img{
	display: block;
	width: 7.2rem;
	height: 7.2rem;
	margin-bottom: 1.2rem;
	transform: translateY(-2.4rem);
}