@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-slider{
	width: 100%;
	padding: 0 2.4rem;

	@include responsive(tablet){
		padding: 0 3.6rem;
	}

	@include responsive(desktop){
		padding: 0 10rem;
	}
}