@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	padding: 0 2.4rem;
	margin-bottom: 2.4rem;

	@include responsive(tablet){
		padding: 0 3.6rem;
		margin-bottom: 6.4rem;
		row-gap: 2.4rem;
	}

	@include responsive(desktop){
		grid-template-columns: repeat(2, minmax(min-content,1fr));
		grid-template-rows: repeat(1, minmax(64rem,68rem));
		column-gap: 2.4rem;
		row-gap: 0;
		padding: 0 10rem;
		margin-bottom: 8.4rem;
	}

	@include responsive(1080px){
		grid-template-rows: repeat(1, minmax(54rem,58rem));
		margin-bottom: 10rem;
	}

	@include responsive(1300px){
		grid-template-columns: minmax(44rem, 46rem) minmax(54rem, 56rem);
		column-gap: 4.8rem;
	}

	@include responsive(1400px){
		grid-template-columns: repeat(2,1fr);
	}

	// Primera parte del main

	&__first-part{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@include responsive(desktop){
			align-items: flex-start;
			text-align: start;
		}
	}


	// Segunda parte

	&__second-part{

		@include responsive(desktop){
			padding-left: 2.4rem
		}
	}
}