/* Fuentes para el proyecto */

:root{
	--fontTitles: 'Be Vietnam Pro', sans-serif;
	--fontText: 'Be Vietnam Pro', sans-serif;
}

// font-weight: 200 (para textos) 
// font-weight: 400,500 (para títulos) 
// font-weight: 700 (para botones)

/* Colores */

:root{
	--firstColorPrimary: #242D52;
	--secondColorPrimary: #F3603C;
	--colorBlack: #1D1E25;
	--colorWhite: #FFFFFF;
	--colorSecondary: #FFF0EC;
	--colorOrange: #F3603C;
	--colorText: rgb(134, 150,157);
}