@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-button{
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 1.6rem;
    color: var(--colorWhite);
    padding: 1.6rem 4rem;
    box-shadow: 0 1rem 1.2rem rgba(0 , 0, 0, .2);
    z-index: 100;

    &--header{
        display: none;
        
        @include responsive(700px){
            display: inline-block;
        }
    }

    @include responsive(700px){
        color: var(--colorWhite);
        padding: 1.6rem 2.4rem;
    }

    @include responsive(820px){
        padding: 1.6rem 3.2rem;
    }

    &:hover::before{
        opacity: .7;
    }
    
    &::before{
        @include before(0, 0, 100%, 100%){
            background-color: var(--secondColorPrimary);
            border-radius: 1.6rem;
            z-index: -10;
            transition: all .5s;
        }
    }
    
    @include responsive(desktop){
        padding: 1.6rem 4rem;
    }    
}