@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: var(--colorWhite);
    margin-bottom: 2.4rem;
    padding: 0rem 2.4rem;
    border-bottom: .02rem solid rgba(0, 0, 0, .1);
    z-index: 200;

    @include responsive(tablet){
        position: relative;
        border-bottom: none;
        padding: 0 3.6rem;
    }

    @include responsive(desktop){
        padding: 0 10rem;
    }

    &__logo{
        display: block;
        width: 15rem;
        height: 2.6rem;
    }
}
 
.main-header__content{
    position: absolute;
    top: 12rem;
    right: -100vw;
    width: calc(100vw - 3.2rem);
    display: flex;
    height: 30.5rem;
    z-index: 1000;
    transition: right .5s;

    &--new{
        right: 1.2rem;
        box-shadow: .6rem 1rem 1rem rgba(0, 0, 0, .2);
    }
    
    @include responsive(700px){
        position: static;
        top: 0;
        right: 0;
        width: 55%;
        height: 8rem;
        justify-content: center;
    }
}

// Enlace que engloba al Logo de Manage

.home{
    width: 15rem;
    height: 2.6rem;
    margin-right: 1.6rem;

    @include responsive(tablet){
        margin-right: 2.4rem;
    }

    @include responsive(desktop){
        margin-right: 3.2rem;
    }
}