@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-list__link{
    height: 100%;
    margin: 1.2rem;
    padding: .4rem 2.4rem;

    @include responsive(700px){
        margin: 0 .4rem;
        padding: .4rem;
    }
	
    @include responsive(840px){
        margin: 0 .8rem;
    }

	@include responsive(940px){
        margin: 0 1.2rem;
    }
	
	@include responsive(1200px){
        margin: 0 1.6rem;
    }

	@include responsive(1400px){
        margin: 0 2rem;
    }
}

/* Estilos para los enlaces */

.main-header__list-link{
    position: relative;
    font-size: 1.6rem;
    color: var(--firstColorPrimary);
    font-weight: 700;

    @include responsive(700px){
        font-size: 1.3rem;
        font-weight: 400;
    }

    @include responsive(desktop){
        &:hover{
            transition: all .4s;
            color: rgb(134, 150,157);
        }
    
        &:hover::before{
            width: 100%;
            transition: all .4s;
        }
    
        &::before{
            @include before(1rem, 0, 0, 100%){
                border-bottom: .4rem solid var(--colorOrange);
                transition: all .3s;
            }
        }
    }
}